.parent{
    width: 600px;
    height: 600px;
    border: 3px solid white;
    margin:100px auto;
    position: relative;
    background-color: white;
    
}
.child{
    width:600px;
    height: 200px;
    border: 2px solid black;
    position: absolute;
    background-color:black;
    

}
.child2{
    width:600px;
    height:200px;
    border: 2px solid #dff530;
    position:absolute;
    top:400px; 
    background-color: #dff530;
}
.child1{
    width:600px;
    height:200px;
    border: 2px solid red;
    background-color:red;
    position:absolute;
    top: 200px;
}